/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.mainLabel{
	-fx-text-fill: grey;
	-fx-font: 150% sans-serif;
}

.normalLabel{
	-fx-text-fill: black;
	-fx-font: 100% sans-serif;
}

.smallLabel{
		-fx-font: 100% sans-serif;
		-fx-text-fill: grey;
}

.btn{
	-fx-background-color: #008f82;
 	-fx-text-fill: #ffffff;
 	-fx-font-weight: bold;
	-fx-background-radius: 10px;
	-fx-font: 125% sans-serif;
}
.textoCronometro{
	-fx-text-fill: #ffffff;
 	-fx-font-weight: bold;
 	-fx-font: 200% sans-serif;
}

.textoEjercicio{
 	-fx-text-fill: #ffffff;
 	-fx-font: 150% sans-serif;
 	-fx-background-color: #008f82;
 	-fx-background-radius: 2px;
}
